body {
    font-family: sans-serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

.product-list { /* главный контейнер товара */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; /* Отступ для учета navbar */
    margin: 10px; /* Отступ по краям */
}

.product { /* контейнер товара в главном контейнере состоящийииз product-image, product-name, product-price, quantity-buttons. */
    width: calc(33.33% - 10px);
    margin: 5px;
    text-align: center;
    position: relative;
}

.product-image { /* картинка товара */
    width: 100%;
    border-radius: 10px;
}

.product-name { /* название товара */
    margin-top: 5px;
}

.product-price { /* цена товара */
    color: green;
    margin-top: 5px;
}

.count-badge { /* значок количества на картинке */
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    background-color: pink;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-buttons { /* контейнер с кнопками товара */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-button { /* кнопки + и - */
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
}

.remove-button { /* доп. стиль для кнопки - */
    background-color: red;
}

.add-to-cart-button { /* кнопка В КОРЗИНУ */
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.cart-button { /* Кнопка КОРЗИНА */
    background-color: #143F6B;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 10px; /* округление углов */
    text-align: center;
}


.cart-container { /* Контейнер для кнопки КОРЗИНА */
    display: flex; 
    background-color: orange;
    /* justify-content: flex-end; */
    align-items: center; /* Добавьте это для вертикального выравнивания */
    padding: 5px;
}

.cart-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh; /* Здесь используется 100vh для высоты экрана */
    transition: transform 0.3s; /* Мы используем transform для анимации появления/скрытия */
    transform: translateY(100%); /* Начальное положение за пределами экрана */
}

.cart-popup.show {
    transform: translateY(0); /* Показать всплывающее окно */
}

.cart-item { /* относится к всплывающему окну корзины */
    margin-bottom: 10px;
}

.cart-button:hover { /* относится к всплывающему окну корзины */
    background-color: blue;
}

.cart-popup-content { /* Контейнер наполнения всплывающего окна корзины HTML */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 80%;
    overflow-y: auto;
}


