body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: normal; /* Regular */
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

/* Анимация плавной смены видимости */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation-name: slideUp;
}

@keyframes slideUpAndHide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

.animate-slide-up-and-hide {
  animation: slideUpAndHide 0.3s ease forwards;
}

.product-list { /* главный контейнер товара */
    display: flex;
    flex-wrap: wrap; /* Это свойство позволяет элементам переноситься на следующую строку */
    margin-top: 10px; /* Отступ для учета navbar */
    margin: 10px; /* Отступ по краям */
    animation-duration: 0.9s; /* Длительность анимации */
    animation-timing-function: ease-in-out; /* Эффект анимации */
    animation-fill-mode: forwards; /* Сохранение последнего кадра анимации */
}

.product { /* контейнер товара в главном контейнере состоящийииз product-image, product-name, product-price, quantity-buttons. */
    width: calc(33.33% - 10px);
    margin: 5px;
    text-align: center;
    position: relative;
}

.product-image { /* картинка товара */
    width: 100%;
    border-radius: 10px;
}

.product-name { /* название товара */
    margin-top: 5px;
}

.product-price { /* цена товара */
    color: green;
    margin-top: 5px;
}

.count-badge { /* значок количества на картинке */
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    background-color: pink;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-buttons { /* контейнер с кнопками товара */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-button { /* кнопки + и - */
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
}

.remove-button { /* доп. стиль для кнопки - */
    background-color: red;
}

.add-to-cart-button { /* кнопка В КОРЗИНУ */
    background-color: orange;
    color: white;
    border: none;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.cart-popup { /* окно корзины */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--tg-theme-secondary-bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* Здесь используется 100vh для высоты экрана */
    transition: transform 0.3s; /* Мы используем transform для анимации появления/скрытия */
    transform: translateY(100%); /* Начальное положение за пределами экрана */
}

.cart-popup.show { /* показ окна корзины */
    transform: translateY(0); /* Показать всплывающее окно */
}

.cart-popup-header { /* контейнер Заголовка окна корзины */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--tg-theme-bg-color);
    overflow-y: auto;
}

.cart-popup-title { /* текст заголовка окна корзины */
    font-size: 18px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}

.edit-button { /* кликабельное слово в заголовке окна корзины */
    font-size: 16px;
    color: green;
    cursor: pointer;
}

.cart-popup-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    color: white;
    background-color: var(--tg-theme-bg-color);
    align-items: center;
    padding: 20px;
}

.cart-item-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px; /* Закруглённые углы */
    overflow: hidden; /* Обрезаем изображение по границам */
}

.cart-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-name {
    color: var(--tg-theme-text-color);
}

.cart-item-count {
    font-weight: bold;
    color: orange; /* Зелёный цвет для количества */
    margin-left: 10px;
}

.cart-item-price {
    color: var(--tg-theme-text-color);
    margin-left: auto; /* Выравнивание цены по правому краю */
}

.comment-block {
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    margin-top: 10px; /* Отступ между товарами и комментарием */
    resize: vertical; /* Позволяет изменять размер вертикально */
}

#order-comment {
    width: 100%;
    font-size: 14px;
    /*padding: 10px; */
    /*border: 1px solid var(--tg-theme-text-color);
    border-radius: 5px; 
    background-color: transparent;
    color: var(--tg-theme-text-color);
    resize: vertical; /* Позволяет изменять размер вертикально 
    height: auto;
    /* min-height: 100px; /* Минимальная высота текстового поля*/
}

/* Стили для всплывающего окна description */
.description-popup {
    display: flex;
    flex-wrap: wrap; /* Это свойство позволяет элементам переноситься на следующую строку */
    margin-top: 10px; /* Отступ для учета navbar */
    margin: 10px; /* Отступ по краям */
    animation-duration: 0.9s; /* Длительность анимации */
    animation-timing-function: ease-in-out; /* Эффект анимации */
    animation-fill-mode: forwards; /* Сохранение последнего кадра анимации */
}


.description-popup-content {
    align-items: center; /* Центрируем контент по вертикали */
    padding: 20px;
    text-align: center;
    color: orange;
}

.close-description-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
